@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');
/*   font-family: "Handjet", sans-serif; */

.pf-container{
	width: 90%;
	max-width: 30rem;
	margin-inline: auto;
	margin-top: 3rem;
}
.form-intro>h1{
	font-family: "Handjet", sans-serif;
	font-size: 2.25rem;
	text-align: center;
	color: var(--color-black);
}
.pf-form label{
	display: block;
	font-family: var(--primary-font);
	color: var(--color-black);
	font-size: 0.875rem;
	margin-bottom: 0.25rem;
}
.ip-wrapper{
	margin-bottom: 1rem;
}
.ip-wrapper input{
	width: 100%;
	border: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 5px;
	padding: 3px 5px;
	outline: 0;
	font-family: var(--primary-font);
	font-size: 0.875rem;
	color: grey;
}
.pf-form button{
	padding: 0.25rem 1rem;
	border: 0;
	background-color: var(--color-black);
	color: white;
	border-radius: 5px;
	font-family: var(--primary-font);
	font-size: 0.875rem;
	cursor: pointer;
}
.note-container{
	margin-top: 1rem;
}
.note-container>p{
	margin-bottom: 0.5rem;
	font-family: var(--header-font);
	font-size: 1.25rem;
	color: red;
}
.note-container>ol{
	padding-left: 1rem;
	font-family: var(--primary-font);
  font-size: 0.875rem;
	display: grid;
	grid-gap: 0.25rem;
	color: gray;
}
.note-container>ol>li>a{
	font-family: var(--primary-font);
  font-size: 0.875rem;
	color: gray;
	font-style: italic;
}