{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Publish eBook</title>
<link rel="stylesheet" href="{% static 'css/ebook-form.css' %}">
{{form.media}}
{% endblock %}
{% block content %}
<div class="ebk-container">
	<div class="ebk-wrapper">
		<h1>Showcase Your Creativity</h1>
		<form method="post" class="ebk-form">
			{% csrf_token %}
			<div class="ebk-input">
				<label for="id_title">Name of the ebook</label>
				{{form.title}}
			</div>
			<div class="ebk-input">
				<label for="id_thumbnail">Cover Photo</label>
				{{form.thumbnail}}
			</div>
			<div class="ebk-input">
				<label for="id_category">Category</label>
				{{form.category}}
			</div>
			<div class="ebk-input">
				<label for="id_author">Author of the eBook</label>
				{{form.author}}
			</div>
			<div class="ebk-input">
				<label for="id_language">Language</label>
				{{form.language}}
			</div>
			<div class="ebk-input">
				<label for="id_book">eBook File</label>
				{{form.book}}
			</div>
			<div class="ebk-input">
				<label for="id_description">Description</label>
				{{form.description}}
			</div>
			<button type="submit">Upload</button>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}

{% endblock %}