{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Ebook Form</title>
{% endblock %}
{% block content %}
<div class="ebk-container">
	<div class="ebk-wrapper">
		<form method="post" class="ebk-form">
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<div class="ebk-input">
				
			</div>
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<div class="ebk-input">
				<label for=""></label>
			</div>
			<button type="submit">Upload</button>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}

{% endblock %}