{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Publish eBook</title>
<link rel="stylesheet" href="{% static 'css/ebook-form.css' %}">
{{form.media}}
{% endblock %}
{% block content %}
<div class="ebk-container">
	<div class="ebk-wrapper">
		<h1>Showcase Your Creativity</h1>
		<form method="post" class="ebk-form">
			{% if messages %}
			<ul class="form-errors">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<div class="ebk-input">
				<label for="title">Name of the ebook</label>
				{{form.title}}
			</div>
			<div class="ebk-input">
				<label for="thumbnail">Cover Photo</label>
				{{form.thumbnail}}
			</div>
			<div class="ebk-input">
				<label for="category">Category</label>
				{{form.category}}
			</div>
			<div class="ebk-input">
				<label for="author">Author of the eBook</label>
				{{form.author}}
			</div>
			<div class="ebk-input">
				<label for="language">Language</label>
				{{form.language}}
			</div>
			<div class="ebk-input">
				<label for="book">eBook File</label>
				{{form.book}}
			</div>
			<div class="progress-container">
				<div class="progress-bar" style="width: 0%"></div>
			</div>
			<div class="ebk-input">
				<label for="description">Description</label>
				{{form.description}}
			</div>
			<button type="submit">Publish eBook</button>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/uploader.js' %}"></script>
{% endblock %}

