{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Filter</title>
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
<link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}
{% block content %}
<section class="f-sec">
    <div class="form-container">
      <div class="form-wrapper">
        <form class="filter-form">
          <div class="input-wrapper">
            {{filter.form.author}}
          </div>
          <div class="input-wrapper">
            {{filter.form.category}}
          </div>
          <div class="input-wrapper">
            {{filter.form.language}}
          </div>
          <button type="submit">Filter</button>
        </form>
      </div>
    </div>
  </section>
<section class="latest-releases ss2">
    <div class="container1">
        <div class="book-grid">
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, quas!</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor.</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor.</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor.</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor.</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-image">
                    <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="Book cover">
                </div>
                <div class="book-info">
                    <h3><a href="#">Lorem, ipsum dolor.</a></h3>
                    <button class="download-btn">Download</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    const catOption = document.querySelector("#id_category");
    const lanOption = document.querySelector("#id_language");
    catOption.options[0].text = "Category";
    lanOption.options[0].text = "Language";
    const author = document.querySelector("#id_author");
    author.placeholder = "Search by author...";
    document.querySelectorAll('.book-card').forEach(card => {
      card.addEventListener('mouseenter', () => {
        card.style.transform = 'translateY(-5px)';
    });
      card.addEventListener('mouseleave', () => {
        card.style.transform = 'translateY(0)';
    });
  });
</script>
{% endblock %}