{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<section class="ss-1">
	<div class="hero-container">
		<div class="hero-wrapper">
			<div class="hero">
				<img src="https://wallpapercave.com/wp/CpRGNUC.jpg" alt="">
			</div>
			<div class="hero">
				<img src="https://vastphotos.com/files/uploads/photos/10150/high-resolution-nature-landscape-vast-xl.jpg" alt="">
			</div>
			<div class="hero">
				<img src="https://vastphotos.com/files/uploads/photos/10684/beautiful-landscape-photo-l.jpg" alt="">
			</div>
			<div class="hero">
				<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/high-resolution-panoramic-landscape-konradlew.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="ebk-container">
		<h2>Latest Release</h2>
		<div class="ebk-wrapper">
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cat-container">
		<h2>Browse Genres</h2>
		<div class="cat-wrapper">
			<div class="cat">
				<a href="#"><img src="https://cdn-media.pfcontent.net/media/huntspix/images/products/prints_square.jpg?mod=1489560711" alt=""></a>
				<h3><a href="#">History</a></h3>
			</div>
			<div class="cat">
				<a href="#"><img src="https://cdn-media.pfcontent.net/media/huntspix/images/products/prints_square.jpg?mod=1489560711" alt=""></a>
				<h3><a href="#">Non-Fiction</a></h3>
			</div>
			<div class="cat">
				<a href="#"><img src="https://cdn-media.pfcontent.net/media/huntspix/images/products/prints_square.jpg?mod=1489560711" alt=""></a>
				<h3><a href="#">Biography</a></h3>
			</div>
			<div class="cat">
				<a href="#"><img src="https://cdn-media.pfcontent.net/media/huntspix/images/products/prints_square.jpg?mod=1489560711" alt=""></a>
				<h3><a href="#">Culture</a></h3>
			</div>
			<div class="cat">
				<a href="#"><img src="https://cdn-media.pfcontent.net/media/huntspix/images/products/prints_square.jpg?mod=1489560711" alt=""></a>
				<h3><a href="#">Education</a></h3>
			</div>
		</div>
	</div>
</section>
<section class="ss2">
	<div class="ebk-container">
		<h2>Educational Release</h2>
		<div class="ebk-wrapper">
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
			<div class="ebk">
				<div class="eb-img">
					<a href="#">
						<img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
					</a>
				</div>
				<div class="eb-title">
					<h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				</div>
				<div class="eb-btn">
					<a href="#">Download</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ss3">
	<div class="donate-container">
		<div class="donate-wrapper">
			<h2>Support for the cause</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae ullam assumenda exercitationem soluta eligendi corporis eveniet eum animi odio, sit?</p>
			<a href="#">Donate</a>
		</div>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}