{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Change Password</title>
<link rel="stylesheet" href="{% static 'css/password-change.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
	<div class="form-wrapper">
		<h1>Change Password</h1>
		<form method="post" class="pc-form">
			{% csrf_token %}
			<ul class="form-errors">
				{% for field in form %}
				{% if field.errors %}
				<li>{{ field.errors|striptags  }}</li>
				{% endif %}
				{% endfor %}
			</ul>
			<div class="cp-input">
				<label for="id_old_password">Old Password</label>
				{{form.old_password}}
			</div>
			<div class="cp-input">
				<label for="id_new_password1">New Password</label>
				{{form.new_password1}}
			</div>
			<div class="cp-input">
				<label for="id_new_password2">Confirm New Password</label>
				{{form.new_password2}}
			</div>
			<button type="submit">Change Password</button>
		</form>
	</div>
	<div class="info-wrapper">
		<h2>Tips to set a strong password</h2>
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum, dolor sit amet.</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block js %}

{% endblock %}