{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Filter</title>
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
<style>
    .cat-header>h1{
        font-size: 1.125rem;
    }
</style>
{% endblock %}
{% block content %}
<section class="f-sec">
    <header class="cat-header">
        <h1>Showing results for: <span>Search Title</span></h1>
    </header>
    <div class="ebk-container">
        <div class="ebk-wrapper">
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
            <div class="ebk">
                <div class="eb-img">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
                    </a>
                </div>
                <div class="eb-title">
                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                </div>
                <div class="eb-btn">
                    <a href="#">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}