{% extends 'myapp/base.html' %}
{% load static %}
{% block head %}
<title>Search</title>
<link rel="stylesheet" href="{% static 'css/book.css' %}">
<style>
    .container1 > h2{
        font-size: 1.125rem !important;
    }
    .container1 > h2 > span{
        color: var(--color-hover);
    }
</style>
{% if s_ebk.has_next %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endif %}
{% endblock %}
{% block content %}
<section class="latest-releases ss2">
    <div class="container1">
        <h2><span>Results for :</span> {{query}}</h2>
        {% if s_ebk %}
        <div class="book-grid infinite-container">
            {% for ebk in s_ebk %}
            <div class="book-card infinite-item">
                <div class="book-image">
                    <img src="{{ebk.thumbnail.url}}" alt="{{ebk.title}}">
                </div>
                <div class="book-info">
                    <h3><a href="#">{{ebk.title}}</a></h3>
                     <button class="download-btn" onclick="directDownload('{{ ebk.book.url }}', '{{ ebk.title }}')" data-ebook-id="{{ ebk.id }}">Download</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="no-result-wrapper">
                <h3>No result found</h3>
                <p> We couldn't find what you're looking for. Please try again later. </p>
            </div>
        {% endif %}
        {% if s_ebk.has_next %}
        <a href="?page={{ s_ebk.next_page_number }}" display = "none" class="infinite-more-link">next</a>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    document.querySelectorAll('.book-card').forEach(card => {
      card.addEventListener('mouseenter', () => {
        card.style.transform = 'translateY(-5px)';
    });
      card.addEventListener('mouseleave', () => {
        card.style.transform = 'translateY(0)';
    });
</script>
<script src="{% static 'js/tracking.js' %}"></script>
{% if s_ebk.has_next %}
<script src="{% static 'waypoint/jquery.js' %}"></script>
<script src="{% static 'waypoint/waypoint.js' %}"></script>
<script src="{% static 'waypoint/infinite.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endif %}
{% endblock %}